<nav class="b-topbar uk-navbar" data-uk-sticky>
    <a href="#mobile-nav" class="uk-navbar-toggle" data-uk-offcanvas=""></a>
    <span href="#" class="uk-navbar-brand uk-navbar-center">Пивная №1</span>
</nav>


