@import "buttons"

$darkColor: #5f443b
$darkerColor: #4b2516
$shitColor: #a06d3a
$lightColor: #CFCAB3

.uk-container
  max-width: 990px
  padding: 0 20px

.uk-article
  margin-top: 40px

  .uk-article-title
    font-size: 17px
    line-height: 1.2
    margin-bottom: 15px

  .uk-article-lead
    font-size: 14px
    line-height: 1.2

  .uk-article-meta
    text-align: right

.uk-offcanvas-bar
  background: #533932

  .uk-nav
    li
      a
        color: $lightColor
        line-height: 30px
        height: auto
        transition: all .2s ease-in-out
        border-bottom: 1px solid #67483f
        text-transform: uppercase

      &.uk-active
        a
          background: $shitColor
          color: #fff

      &:hover
        a
          background: $shitColor
          color: #fff

.uk-sticky-placeholder
  display: none

  @media only screen and (max-width : 906px)
    display: block

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  
body
  background: fixed #2F1D19 url(../images/body-bg.jpg) no-repeat 50% 0

._boxed
  padding: 30px 0

.-text-large
  font-size: 25px
  font-weight: bold

.-img-responsive
  max-width: 100%

.site-container
  background: url(../images/main-bg.png) 50% 0 repeat-y

.wrapper
  background: url(../images/wrapper-bg.jpg) 0 -8px no-repeat
  margin: 0 -20px
  padding: 0 20px

.b-topbar
  background: $shitColor
  display: none

  @media only screen and (max-width : 906px)
    display: block

  .uk-navbar-toggle
    color: $lightColor

  .uk-navbar-brand
    color: $lightColor

.b-header
  padding: 22px 0 22px 20px
  margin-right: -20px
  margin-left: -20px

  .b-header__info
    padding-right: 20px
    margin-bottom: 20px

    @media only screen and (max-width : 906px)
      margin: 30px 0

  .b-header__info_text
    line-height: 1

    > span
      margin: -3px 0 0 10px
      float: left

    &.-text-large
      > span
        margin: 3px 0 0 10px

.b-nav
  margin: 0 -10px 30px 0
  background: transparent

  @media only screen and (max-width : 1028px)
    margin: 20px 20px 30px 0

  @media only screen and (max-width : 906px)
    display: none

  ul
    float: right

    li
      a
        background: $shitColor
        color: $lightColor
        transition: all .3s ease-in-out
        line-height: 45px
        height: auto
        margin-left: 3px
        position: relative
        font-size: 16px
        text-transform: uppercase
        font-weight: 600
        padding: 0 15px
        cursor: pointer!important

        @media only screen and (max-width : 1028px)
          padding: 0 10px

      &:hover
        a
          background: $darkColor
          color: $lightColor

      &.uk-active
        a
          background: $darkColor
          color: $lightColor

      &:first-child
        a
          &::before
            position: absolute
            content: ''
            top: 0
            left: -13px
            width: 0
            height: 0
            border-style: solid
            border-width: 22.5px 13px 22.5px 0
            border-color: transparent $darkColor transparent transparent

      &:last-child
        a
          padding-right: 30px

          @media only screen and (max-width : 1028px)
            padding-right: 10px

          &::before
            width: 0
            height: 0
            content: ''
            bottom: -15px
            right: 0
            position: absolute
            border-style: solid
            border-width: 15px 15px 0 0
            border-color: $darkerColor transparent transparent transparent

          @media only screen and (max-width : 1028px)
            &::before
              display: none

.b-widget__recommend
  background: url(../images/recommend-widget-bg.jpg)
  max-width: 255px
  position: relative
  padding: 15px 0
  display: inline-block
  margin: 0

  &::after
    position: absolute
    content: ''
    display: inline-block
    width: 100%
    bottom: -6px
    left: 0
    height: 6px
    background: $darkColor

  .widget-meta-title-wrap
    background: $shitColor
    height: 36px
    position: relative
    width: 105%
    margin-left: -10px

    &::before
      width: 0
      height: 0
      content: ''
      bottom: -10px
      left: 0
      position: absolute
      border-style: solid
      border-width: 0 10px 10px 0
      border-color: transparent $darkerColor transparent transparent

    &::after
      position: absolute
      content: ''
      top: 0
      right: -13px
      width: 0
      height: 0
      border-style: solid
      border-width: 18px 0 18px 13px
      border-color: transparent transparent transparent $shitColor

    .widget-meta-title
      color: $lightColor
      font-size: 20px
      line-height: 36px
      text-transform: uppercase
      font-weight: 600

  .uk-article-lead
    font-size: 18px
    padding: 0 20px
    color: $lightColor
    text-align: center

  .b-widget__recommend_img_wrap
    width: 100%
    position: relative
    height: 197px
    padding: 14px
    background: url(../images/recommend-widget-img-wrap.jpg) no-repeat 50% 0

    > img
      max-width: 100%
      border: 5px solid $lightColor
      position: relative

    .img-before
      position: absolute
      top: 0
      z-index: 1
      left: 50%
      margin-left: -35.5px
      width: 71px
      height: 28px
      display: block
      background: url(../images/img-before.png) no-repeat 0 0

.b-page__info
  position: relative

  .b-page__info_title
    font-size: 34px
    position: absolute
    top: 30px
    left: 30px
    font-weight: 600
    text-transform: uppercase


.b-widget__news
  .uk-article
    position: relative
    padding: 30px 15px
    background: #f4efd5

    .uk-article-meta
      margin: 0

    .uk-article-lead
      margin: 5px 0

    &::after
      height: 15px
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      background: url(../images/news-bottom-line.png) repeat-x 0 100%

    &::before
      height: 15px
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      background: url(../images/news-top-line.png) repeat-x 0 100%

    &:nth-child(1n)
      border-left: 1px solid #ded4bc

      .article-thumb
        border: 3px solid #fff
        -webkit-box-shadow: 0 0 2px #aaa
        -moz-box-shadow: 0 0 2px #aaa
        box-shadow: 0 0 2px #aaa
        width: 30%
        margin-right: 2%
        float: left

      .article-content
        width: 65%

      .b-widget_news_btn
        background: $shitColor
        color: #fff
        font-size: 12px
        float: right
        line-height: 16px
        text-transform: lowercase
        padding: 0 5px
        position: relative
        text-decoration: none
        transition: all .3s ease-in-out
        margin: 5px 0 0 0

        &::before
          position: absolute
          content: ''
          top: 0
          left: -5px
          width: 0
          height: 0
          border-style: solid
          border-width: 8px 5px 8px 0
          border-color: transparent $shitColor transparent transparent
          transition: all .3s ease-in-out

        &::after
          position: absolute
          content: ''
          top: 0
          right: -5px
          width: 0
          height: 0
          border-style: solid
          border-width: 8px 0 8px 5px
          border-color: transparent transparent transparent $shitColor
          transition: all .3s ease-in-out

        &:hover
          background: $darkColor

          &::before
            border-color: transparent $darkColor transparent transparent
          &::after
            border-color: transparent transparent transparent $darkColor

.b-footer
  background: $darkColor
  background-size: 100% 100%
  height: 55px
  padding: 0 25px
  position: relative
  width: 96%
  margin: 40px auto

  &::before
    position: absolute
    content: ''
    top: 0
    left: -13px
    width: 0
    height: 0
    border-style: solid
    border-width: 27.5px 13px 27.5px 0
    border-color: transparent $darkColor transparent transparent

  &::after
    position: absolute
    content: ''
    top: 0
    right: -13px
    width: 0
    height: 0
    border-style: solid
    border-width: 27.5px 0 27.5px 13px
    border-color: transparent transparent transparent $darkColor

  .b-footer__info
    line-height: 53px
    font-size: 13px
    color: $lightColor
