{% extends "layouts/app.twig" %}

{% block content %}
    <div class="b-page__info">
        <h2 class="b-page__info_title">О нас</h2>
        <img src="images/about-page-img.jpg" alt=""class="-img-responsive">
    </div>

    <ul class="uk-list page-list">
        <li class="uk-active"><a href="about.html">О пивной</a></li>
        <li><a href="responses.html">Отзывы</a></li>
        <li><a href="vacancies.html">Вакансии</a></li>
    </ul>

    <h4 class="page-italic-title"><i>О пивной</i></h4>
    <article class="uk-article">
        <h3 class="uk-article-title">Ресторан-пивоварня Пивная №1</h3>
        <p class="uk-article-lead">
            Пивная №1 - особенная. Это одновременно и ресторан и пивоварня. <br>
            В чанах, которые видны за стеклянной перегородкой холла, приготавливаются 4 сорта пива на любой вкус и время года. Мы знаем толк в пивоварении и используем только высококачественное импортное сырье. Убедитесь в абсолютной исключительности нашего пива!
            <br>
            Объемное меню предлагает большой выбор блюд русской и европейской кухни, отлично подходящих к пенному напитку. Кулинарная философия Пивной №1 — добротное исполнение проверенных временем рецептов.
            <br>
            Наши музыканты подарят веселое настроение и приведут вас в приятное расположение духа. <br>
            А любители спорта оценят возможности больших экранов, транслирующих зрелищные спортивные мероприятия.
            <br><br>
            Желаем хорошего отдыха!
        </p>
    </article>
{% endblock %}