{% extends "layouts/app.twig" %}

{% block content %}
    <div class="b-page__info">
        <h2 class="b-page__info_title">Доставка</h2>
        <img src="images/banquest-page-img.jpg" alt=""class="-img-responsive">
    </div>

    <article class="uk-article">
        <h3 class="uk-article-title">Доставка из Пивной №1</h3>
        <p class="uk-article-lead">
            Дорогие друзья! <br>
            Еду и напитки из нашего ресторана можно заказать по тел. 940-777 или на сайте: <br>
            <a href="#">www.domoed.su</a><br>
            При заказе на сумму свыше 800 руб. – доставка бесплатно!
        </p>
    </article>
{% endblock %}