{% extends "layouts/app.twig" %}

{% block content %}
<div class="b-page__info">
    <h2 class="b-page__info_title">Меню</h2>
    <img src="images/menu-page-img.jpg" alt=""class="-img-responsive">
</div>

<ul class="uk-list page-list normal-content">
    <li class="uk-active"><a href="">Пиво Нефильтрованное</a></li>
    <li><a href="">Крепкий алкоголь</a></li>
    <li><a href="">Вино</a></li>
    <li><a href="">Коктейли в стиле Пивной №1</a></li>
    <li><a href="">Лимонады, безалкогольные коктейли</a></li>
</ul>

<h4 class="page-italic-title"><i>Пиво</i></h4>

<article class="menu-article uk-article">
    <h3 class="uk-article-title">(330 мл/500 мл)</h3>
    <ul class="uk-list">
        <li>
            <span>Светлое пшеничное 4,2%</span>
            <span class="has-dots"><i></i></span>
            <span class="price">170/220</span>
        </li>
        <li>
            <span>Светлое ячменное 4%</span>
            <span class="has-dots"><i></i></span>
            <span class="price">170/220</span>
        </li>
        <li>
            <span><a href="#"><i class="fri fri-photo"></i></a> Светлое ячменное 4%</span>
            <span class="has-dots"><i></i></span>
            <span class="price">170/220</span>
        </li>
    </ul>
</article>
<article class="menu-article uk-article">
    <h3 class="uk-article-title">(330 мл/500 мл)</h3>
    <ul class="uk-list">
        <li>
            <span>Светлое пшеничное 4,2%</span>
            <span class="has-dots"><i></i></span>
            <span class="price">170/220</span>
        </li>
        <li>
            <span>Светлое ячменное 4%</span>
            <span class="has-dots"><i></i></span>
            <span class="price">170/220</span>
        </li>
        <li>
            <span><a href="#"><i class="fri fri-photo"></i></a> Светлое ячменное 4%</span>
            <span class="has-dots"><i></i></span>
            <span class="price">170/220</span>
        </li>
    </ul>
</article>
{% endblock %}