{% extends "layouts/app.twig" %}

{% block content %}
    <div class="b-page__info">
        <h2 class="b-page__info_title">Новости</h2>
        <img src="images/news-page-img.jpg" alt=""class="-img-responsive">
    </div>

    <ul class="uk-list page-list">
        <li class="uk-active"><a href="about.html">2016</a></li>
        <li><a href="responses.html">2013</a></li>
        <li><a href="vacancies.html">2012</a></li>
    </ul>

    <div class="b-widget__news uk-grid uk-grid-collapse uk-grid-match uk-grid-width-small-1-1 uk-grid-width-medium-1-2">
        <div>
            <article class="uk-article">
                <div class="uk-clearfix">
                    <img src="images/article-img.jpeg" alt="" class="article-thumb">
                    <div class="uk-float-right article-content">
                        <p class="uk-article-meta">10.08.2016</p>
                        <p class="uk-article-lead">Живая музыка в Пивной №1!</p>
                    </div>
                </div>
                <div class="uk-text-right"><a href="#" class="uk-button uk-button-primary">подробно</a></div>
            </article>
        </div>
        <div>
            <article class="uk-article">
                <div class="uk-clearfix">
                    <img src="images/article-img2.jpg" alt="" class="article-thumb">
                    <div class="uk-float-right article-content">
                        <p class="uk-article-meta">10.08.2016</p>
                        <p class="uk-article-lead">Живая музыка в Пивной №1!</p>
                    </div>
                </div>
                <div class="uk-text-right"><a href="#" class="uk-button uk-button-primary">подробно</a></div>
            </article>
        </div>
        <div>
            <article class="uk-article">
                <div class="uk-clearfix">
                    <img src="images/article-img.jpeg" alt="" class="article-thumb">
                    <div class="uk-float-right article-content">
                        <p class="uk-article-meta">10.08.2016</p>
                        <p class="uk-article-lead">Живая музыка в Пивной №1!</p>
                    </div>
                </div>
                <div class="uk-text-right"><a href="#" class="uk-button uk-button-primary">подробно</a></div>
            </article>
        </div>
        <div>
            <article class="uk-article">
                <div class="uk-clearfix">
                    <img src="images/article-img2.jpg" alt="" class="article-thumb">
                    <div class="uk-float-right article-content">
                        <p class="uk-article-meta">10.08.2016</p>
                        <p class="uk-article-lead">Живая музыка в Пивной №1!</p>
                    </div>
                </div>
                <div class="uk-text-right"><a href="#" class="uk-button uk-button-primary">подробно</a></div>
            </article>
        </div>
    </div>
{% endblock %}