{% extends "layouts/app.twig" %}

{% block content %}
    <div class="b-page__info">
        <h2 class="b-page__info_title">Фото</h2>
        <img src="images/photos-page-img.jpg" alt=""class="-img-responsive">
    </div>

    <ul class="uk-list page-list">
        <li class="uk-active"><a href="about.html">Блюда</a></li>
        <li><a href="responses.html">Интерьеры</a></li>
        <li><a href="vacancies.html">Мероприятия</a></li>
    </ul>

    <div class="gallery-grid uk-grid uk-grid-width-small-1-3 uk-grid-width-medium-1-5" data-uk-grid-margin="">
        <div>
            <a href="images/bluda-large.jpg" data-uk-lightbox="{group:'group1'}" title="Ассорти колбас с тушеной капустой и картофелем">
                <img src="images/bluda-small.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="images/bluda-large.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'group1'}" title="Ассорти колбас с тушеной капустой и картофелем">
                <img src="images/bluda-small.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="images/bluda-large.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'group1'}" title="Ассорти колбас с тушеной капустой и картофелем">
                <img src="images/bluda-small.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="images/bluda-large.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'group1'}" title="Ассорти колбас с тушеной капустой и картофелем">
                <img src="images/bluda-small.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="images/bluda-large.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'group1'}" title="Ассорти колбас с тушеной капустой и картофелем">
                <img src="images/bluda-small.jpg" alt="">
            </a>
        </div>
    </div>
{% endblock %}